.expense {
    display: grid;
    grid-template-columns: 15fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 42rem;
    margin: 5px;
    padding: 8px 0px 8px 30px;

    .cost>p {
        background-color: #4b80e3;
        width: fit-content;
        color: white;
        padding: 3px 10px;
        border-radius: 20px;
        font-size: 0.8rem;
        font-weight: 600;
    }


    .button {
        background-color: black;
        border: none;
        color: white;
        width: fit-content;
        padding: 0px 5px 1px;
        border-radius: 20px;
        margin-left: 5px;
    }
}

@media (min-width: 500px) and (max-width: 700px) { 

    .expense {
        width: 30rem;
        padding: 8px 10px 8px 25px;
    }

}

@media (min-width: 300px) and (max-width: 499px) { 

    .expense {
        width: 20rem;
        padding: 8px 10px 8px 15px;
    }

}

